.weather-app-wrapper {
  font-family: "Roboto Flex", sans-serif;
  max-width: 600px;
  margin: 20px auto;
}

.weather-app {
  padding: 10px;
}

.principal-cities {
  color: #0370c6;
  font-size: 14px;
  text-decoration: underline;
}

.btn-info {
  color: #fff;
}

.btn-info:hover {
  color: #fff;
}

.search-engine {
  margin: 10px auto;
}

.search-engine-element {
  margin: 0;
}

.principal-weather {
  text-align: center;
  color: #0370c6;
  background: #e9ebee;
  padding: 50px 30px 30px;
  margin: 20px auto;
  width: 305px;
  border: 1px solid #e9ebee;
  border-radius: 50%;
}

h1,
h3 {
  font-size: 25px;
  font-weight: bold;
  font-family: "DM Serif Display", serif;
  margin: 0 auto;
  padding: 0;
}

h2,
h4,
h5,
h6 {
  font-size: 15px;
  font-family: "Roboto Flex", sans-serif;
  margin: 0 auto;
  padding: 0;
}

h4 {
  text-transform: capitalize;
}

h3,
h5 {
  margin-top: 20px;
}

.principal-weather .units {
  position: relative;
  font-size: 15px;
  top: -5px;
}

.principal-weather .active {
  color: #0370c6;
  text-decoration: none;
  cursor: default;
}

.principal-weather .active:hover {
  text-decoration: none;
}

.secondary-weather {
  margin: 0 84px;
}

img {
  max-width: 100%;
  height: auto;
}

.day {
  text-align: center;
  color: rgb(255, 255, 255);
  background: linear-gradient(
    111.4deg,
    rgb(12, 85, 141, 0.7) 8.4%,
    rgb(162, 195, 238) 35.4%,
    rgb(205, 181, 93, 0.75) 70.6%,
    rgb(249, 140, 69, 0.8) 88.2%
  );

  font-size: 14px;
  font-family: "Roboto Flex", sans-serif;
  padding: 10px 5px;
  margin: 0 3px;
  border: 1px solid none;
  border-radius: 10px;
}

.day1,
.day2,
.day3,
.day4,
.day5 {
  font-size: 15px;
  font-weight: bold;
}

footer {
  font-size: 14px;
  text-align: center;
  margin-top: 5px;
}

a {
  color: #0370c6;
}
